@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<table class="table table-bordered">
    <thead>
        <tr>
        <th>Service Type</th>
        <th>Fist Instance Task</th>
        <th>Second Instance task</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Transeint</td>
            <td>@ViewBag.transientServiceOne</td>
            <td>@ViewBag.transientServiceTwo</td>
        </tr>

        <tr>
            <td>Scoped</td>
            <td>@ViewBag.scopedServiceOne</td>
            <td>@ViewBag.scopedServiceWto</td>
        </tr>

         <tr>
            <td>SingleTon</td>
            <td>@ViewBag.singletonServiceOne</td>
            <td>@ViewBag.singletonServiceTwo</td>
        </tr>
    </tbody>
</table>
